# Python Backend
.env
.env.*
__pycache__/
*.pyc
.pytest_cache/
*.db
*.sqlite3
venv/
.venv/
*.log

# Node & Frontend
node_modules/
dist/
.vercel/

# Android (from frontend team)
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
